<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <!--<b>Version</b> 2.0-->
    </div>
    <strong>Bản Quyền &copy; 2024-2025 <a href="https://fb.com/0tinnguyen00">Nguyễn Quốc Trung</a>
</footer>
