@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css">
    <title>Document</title>

    <style>
        /* CSS cho biểu tượng mắt */
        .eye-icon {
            cursor: pointer;
        }

            /* CSS cho biểu tượng mắt bị che khuất */
            .eye-icon::before {
                content: "\f070";
                font-family: FontAwesome;
                font-size: 16px;
                color: #666;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            /* CSS cho biểu tượng mắt được hiển thị */
            .eye-icon.visible::before {
                content: "\f06e";
            }
    </style>

</head>
<body>
    <div style="" class="container">
        <div class="row">
			<div class="col-md-5 mx-auto">
			<div id="first">
				<div class="myform form ">
					 <div class="logo mb-3">
						 <div class="col-md-12 text-center">
							<h1>Login</h1>
						 </div>
					</div>
                        <form action="~/Account/Login" method="post" name="login">
                           <div class="form-group">
                              <label for="exampleInputEmail1">Tên đăng nhập: </label>
                                <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Nhập Email">
                           </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Mật khẩu</label>
                                <div class="input-group">
                                    <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Nhập Mật Khẩu">
                                    <span class="input-group-text" id="togglePassword">
                                        <i class="fa fa-eye-slash" id="eyeIcon"></i>
                                    </span>
                                </div>
                            </div>
                           <div class="col-md-12 text-center ">
                              <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
                           </div>
                            <div class="col-md-12 text-right mt-3">
                                <a href="~/Account/Register" class="btn btn-link">Chưa có tài khoản? Đăng ký ngay</a>
                            </div>
                    </form>
				</div>
			</div>
		</div>
      </div>   
    </div>

    <script>
        // Thay đổi trạng thái của mật khẩu khi nhấp vào biểu tượng mắt
        document.getElementById('togglePassword').addEventListener('click', function () {
            const passwordInput = document.getElementById('password');
            const eyeIcon = document.getElementById('eyeIcon');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';             
                eyeIcon.classList.remove('fa-eye-slash');
                eyeIcon.classList.add('fa-eye');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('fa-eye');
                eyeIcon.classList.add('fa-eye-slash');
            }

            // Sau 2 giây, chuyển đổi lại sang kiểu password và thay đổi biểu tượng mắt
            setTimeout(function () {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('fa-eye');
                eyeIcon.classList.add('fa-eye-slash');
            }, 2000);
        });
    </script>

</body>
</html>