@{
    ViewBag.Title = "Phân Quyền";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="table-responsive">
        <table class="table .table-bordered table-hover">
            <thead>
                <tr class="bg-primary">
                    <th>Họ Tên</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Vai Trò</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nguyễn Quốc Trung</td>
                    <td>trung@gmail.com</td>
                    <td>09090909090</td>
                    <td class="text-right">
                        <a href="~/Admin/Customer/Edit" class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Admin/Customer/Delete" class="btn btn-xs btn-danger">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Phan Trọng Quỳnh</td>
                    <td>trongquynh@gmail.com</td>
                    <td>09090909090</td>
                    <td class="text-right">
                        <a href="~/Admin/Customer/Edit" class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Admin/Customer/Delete" class="btn btn-xs btn-danger">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Thiên Thai</td>
                    <td>thai@gmail.com</td>
                    <td>09090909090</td>
                    <td class="text-right">
                        <a href="~/Admin/Customer/Edit" class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Admin/Customer/Delete" class="btn btn-xs btn-danger">
                            <i class="fa fa-remove"></i>
                        </a>
            </tbody>
        </table>
    </div>                </td>
    </tr>



</body>
</html>
