<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SV20T1080053.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/layout_home.css">
    <style>
 
    </style>
</head>
<body>

    <header>
        <div class="inner-header container">
            <div id="logo_header">
                <a href="" id="logo" title="CHO THUÊ XE MÁY">TIN MOTORCYCLE</a>
            </div>

            <nav>
                <ul id="main-menu">
                    <li><a href="#" class="active" title="Trang chủ"><b>Trang Chủ</b></a></li>
                    <li><a href="#" title="Thuê xe máy"> <b>Thuê Xe Máy </b> </a> </li>
                     <a href="https://www.youtube.com/c/TINEDMVN" target="_blank" class="icon-youtube"><i class="fab fa-youtube"></i></a>
                     <a href="https://www.facebook.com/0TinNguyen0" target="_blank" class="icon-facebook"><i class="fab fa-facebook"></i></a>
                    <ul class="nav navbar-nav navbar-right nav-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                    <div id="light_dark">
                        <input type="checkbox" name="" class="switch-toggle" id="light-dark">
                    </div>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Tin Nguyễn - <a asp-area="" asp-controller="Home" asp-action="Privacy">Bản quyền</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $('#toggle').click(function () {
                $('header').slideToggle();
            });
        });
    </script>

    <script>
        var checkbox_toggle = document.getElementById('light-dark');
        checkbox_toggle.addEventListener('change', function () {
            document.body.classList.toggle('dark');
        });
    </script>


</body>
</html>
