@{
    ViewData["Title"] = "Thuê Xe";
}

<div style="margin-top:30px" class="container">
    <h2>Giỏ hàng</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Ảnh</th>
                <th>Tên xe</th>
                <th>Số tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="/Images/Motorcycles/5c3cc648-3626-4270-983c-6c83e6f829ed.png" alt="Xe 1" class="img-thumbnail" style="max-width: 100px;"></td>
                <td>GRANDE</td>
                <td>100.000 VND/Ngày</td>
            </tr>
            <tr>
                <td><img src="/Images/Motorcycles/b06d9925-865e-49fa-a288-bdff23e21c85.png" alt="Xe 2" class="img-thumbnail" style="max-width: 100px;"></td>
                <td>FREEGO</td>
                <td>200.000 VND/Ngày</td>
            </tr>
            <!-- Thêm các hàng khác tương tự cho các xe khác nếu cần -->
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-6">
            <h4>Tổng tiền: 300.000 VNĐ</h4> <!-- Thay đổi số tiền theo tổng giá trị của các xe -->
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-success">Thuê xe</button>
        </div>
    </div>
</div>
<div style="margin-bottom:100px">

</div>
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>